<div class="col-lg-6 mt-5 me-1  rounded" style="background-color:#d7adf0 ;">
    <h1>
        <p class="text-center mt-1"> <i><b>Add Product</b></i></p>
        {{!--
        <hr style="height:2px;border-width:0;"> --}}
    </h1>
    {{#if done}}
    <h2 style="color: green ;"><b><i>Product Upload successfully...
            </i></b></h2>
    {{/if}}
    <div class="row d-flex justify-content-center align-items-center h-80">
        <div class="col-xl-9">



            <div class="card" style="border-radius: 15px;">
                <div class="card-body">
                    <i><b>Product Info</b></i>
                    <hr style="height:2px;border-width:0;color:#8800d6;background-color:#8800d6">
                    <div class="row align-items-center pt-4 pb-3">

                        <form method="post" action="/admin/adminEditProduct/{{product._id}}"
                            enctype="multipart/form-data">

                            <div class="col">

                                <input type="text" placeholder="Product Name" value="{{product.productName}}"
                                    name="productName" class="form-control border-primary form-control-lg" />

                            </div>
                    </div>
                    <div class="row align-items-center pt-4 pb-3">

                        <div class="col">

                            <input type="text" value="{{product.brand}}" placeholder="Brand Name" name="brand"
                                class="form-control border-primary form-control-lg" />

                        </div>
                    </div>
                    <div class="row align-items-center pt-4 pb-3">

                        <div class="col">


                            <select class="select form-control border-primary form-control-lg" name="catagary">
                                <option value="{{product.catagary}}" selected> {{product.catagary}} </option>
                                {{#each catagary }}
                                <option value="{{this.catagary}}">{{this.catagary}}</option>
                                {{/each}}
                            </select>



                        </div>
                    </div>
                    <div class="row align-items-center pt-4 pb-3">

                        <div class="col">

                            <input type="text" value="{{product.modelnumber}}" placeholder="Model Number(Optional)"
                                name="modelnumber" class="form-control border-warning form-control-lg" />

                        </div>
                    </div>
                    <div class="row align-items-center pt-4 pb-3">

                        <div class="col">

                            <input type="text" value="{{product.mrp}}" placeholder="MRP" name="mrp"
                                class="form-control border-primary form-control-lg" />

                        </div>
                    </div>
                    <div class="row align-items-center pt-4 pb-3">

                        <div class="col">

                            <input type="text" value="{{product.retailerPrice}}" placeholder="Retailer Price"
                                name="retailerPrice" class="form-control border-primary form-control-lg" />

                        </div>
                    </div>
                    <div class="row align-items-center pt-4 pb-3">
                        <div class="col-md-9 pe-5">

                            <textarea class="form-control border-primary" rows="4" placeholder="Highlights"
                                name="highlights">{{product.highlights}}</textarea>

                        </div>
                    </div>
                    <div class="row align-items-center pt-4 pb-3">

                        <div class="col">

                            <input type="text" value="{{product.stock}}" placeholder="Number of stock avalable"
                                name="stock" class="form-control border-primary form-control-lg" />

                        </div>
                    </div>

                    <i><b>General Details </b></i>
                    <hr style="height:2px;border-width:0;color:#8800d6;background-color:#8800d6">
                    <div class="row align-items-center pt-4 pb-3">

                        <div class="col">

                            <input type="text" value="{{product.inbox}}" placeholder="In box" name="inbox"
                                class="form-control border-primary form-control-lg" />

                        </div>
                    </div>
                    <div class="row align-items-center pt-4 pb-3">

                        <div class="col">

                            <input type="text" value="{{product.Type}}" placeholder="Type" name="Type"
                                class="form-control border-primary form-control-lg" />

                        </div>
                    </div>
                    <div class="row align-items-center pt-4 pb-3">

                        <div class="col">

                            <input type="text" value="{{product.madein}}" placeholder="Made in" name="madein"
                                class="form-control border-primary form-control-lg" />

                        </div>
                    </div>
                    <div class="row align-items-center pt-4 pb-3">

                        <div class="col">

                            <input type="text" value="{{product.colour}}" placeholder="colour" name="colour"
                                class="form-control border-primary form-control-lg" />

                        </div>
                    </div>
                    <div class="row align-items-center pt-4 pb-3">

                        <div class="col">

                            <input type="text" value="{{product.width}}" placeholder="width" name="width"
                                class="form-control border-primary form-control-lg" />

                        </div>
                    </div>
                    <div class="row align-items-center pt-4 pb-3">

                        <div class="col">

                            <input type="text" value="{{product.hight}}" placeholder="Hight" name="hight"
                                class="form-control border-primary form-control-lg" />

                        </div>
                    </div>
                    <div class="row align-items-center pt-4 pb-3">

                        <div class="col">

                            <input type="text" value="{{product.wight}}" placeholder="Wight" name="wight"
                                class="form-control border-primary form-control-lg" />

                        </div>
                    </div>
                    <div class="row align-items-center pt-4 pb-3">

                        <div class="col">

                            <input type="text" value="{{product.warranty}}" placeholder="Warranty" name="warranty"
                                class="form-control border-primary form-control-lg" />

                        </div>
                    </div>
                    <i><b>Photos </b></i>
                    <hr style="height:2px;border-width:0;color:#8800d6;background-color:#8800d6">
                    <div class=" rowcarousel-item active">
                        <img src="/product-photo1/{{product._id}}.jpg" id="viewPhoto1" class="d-block w-50" alt="...">
                    </div>
                    <div class="row align-items-center py-3">

                        <div class="col-md-3 ps-5">

                            <h6 class="mb-0">photo 1</h6>

                        </div>

                        <div class="col-md-9 pe-5">

                            <input class="form-control border-primary form-control-lg" onchange="viewPhotoa(event)"
                                id="formFileLg" name="photo1" type="file" />
                            <div class="small text-muted mt-2">Upload Products <b>Front Photo </b>Fist.</div>

                        </div>

                    </div>
                    <div class=" rowcarousel-item active">
                        <img src="/product-photo2/{{product._id}}.jpg" id="viewPhoto2" class="d-block w-50" alt="...">
                    </div>
                    <div class="row align-items-center py-3">
                        <div class="col-md-3 ps-5">

                            <h6 class="mb-0">photo 2</h6>

                        </div>
                        <div class="col-md-9 pe-5">

                            <input class="form-control border-primary form-control-lg" onchange="viewPhotob(event)"
                                id="formFileLg" name="photo2" type="file" />


                        </div>

                    </div>
                    <div class=" rowcarousel-item active">
                        <img src="/product-photo3/{{product._id}}.jpg" id="viewPhoto3" class="d-block w-50" alt="...">
                    </div>
                    <div class="row align-items-center py-3">
                        <div class="col-md-3 ps-5">

                            <h6 class="mb-0">photo 3</h6>

                        </div>
                        <div class="col-md-9 pe-5">

                            <input class="form-control border-primary form-control-lg" onchange="viewPhotoc(event)"
                                id="formFileLg" name="photo3" type="file" />


                        </div>

                    </div>
                    <i><b>More Details </b></i>
                    <hr style="height:2px;border-width:0;color:#8800d6;background-color:#8800d6">

                    <div class="row align-items-center pt-4 pb-3">
                        <div class="col-md-9 pe-5">

                            <textarea class="form-control border-warning" rows="4"
                                placeholder="More about produts(Optional)"
                                name="highlights">{{product.highlights}}</textarea>

                        </div>
                    </div>
                    <hr style="height:2px;border-width:0;color:#8800d6;background-color:#8800d6">

                    <div class=" row px-5 py-4">
                        <div class="col"><a href="/admin/adminHome" class="btn btn-danger btn-lg">Cancel</a></div>
                        <div class="col"> <button type="submit" class="btn btn-primary btn-lg">Upload</button></div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>



</div>





</div>
</div>
<script>
    function viewPhotoa(event) {

        document.getElementById('viewPhoto1').src = URL.createObjectURL(event.target.files[0])

    }
    function viewPhotob(event) {

        document.getElementById('viewPhoto2').src = URL.createObjectURL(event.target.files[0])

    }
    function viewPhotoc(event) {

        document.getElementById('viewPhoto3').src = URL.createObjectURL(event.target.files[0])

    }
</script>