<div class="col-lg-8 mt-5 me-1  rounded" style="background-color:#d7adf0 ;">
    <h1>
        <p class="text-center mt-1"> <i><b>Number of Product found {{count}} </b></i></p>
        {{!--
        <hr style="height:2px;border-width:0;"> --}}
    </h1>
    <div class="mask d-flex align-items-center mb-3 h-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="table-responsive bg-white">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">User Name</th>
                                    <th scope="col">DOB</th>
                                    <th scope="col">EMAIL</th>
                                    <th scope="col">PHONE</th>
                                    <th scope="col"></th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each product}}
                                <tr>
                                    <th scope="row" style="color: #666666;">{{this.productName}}</th>
                                    <td>{{this.brand}}</td>
                                    <td>{{this.stock}}</td>
                                    <td>₹ {{this.retailerPrice}} </td>
                                    <td><a type="button" href="/admin/adminViewProductEdit" class="btn btn-primary">View
                                            More</a></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>







    </div>

</div>
</div>