<div class="col-lg-8 mt-5 me-1  rounded" style="background-color:#d7adf0 ;">
    <h1>
        <p class="text-center mt-1"> <i><b>Number of Product found {{count}} </b></i></p>
        {{!--
        <hr style="height:2px;border-width:0;"> --}}
    </h1>
    <div class="mask d-flex align-items-center mb-3 h-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="table-responsive bg-white">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Brand</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Price</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each product}}
                                <tr>
                                    <th scope="row" style="color: #666666;">{{this.productName}}</th>
                                    <td>{{this.brand}}</td>
                                    <td>{{this.stock}}</td>
                                    <td>₹ {{this.retailerPrice}} </td>
                                    <td><a type="button" href="/admin/adminViewProductEdit/{{this._id}}"
                                            class="btn btn-primary">Edit</a></td>
                                    <td>



                                        <!-- Button trigger modal -->
                                        <a type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#a{{this._id}}">
                                            Delete
                                        </a>

                                    </td>


                                    <!-- Modal -->
                                    <div class="modal fade" id="a{{this._id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Do you want to delete {{this.productName}} ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Cancel</button>
                                                    <a type="button" href="/admin/adminDelProduct/{{this._id}}"
                                                        class="btn btn-danger">Delete </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>







    </div>

</div>
</div>