<div class="col-lg-12  me-1  rounded" style="background-color:#d7adf0 ;">
    <h1>
        <p class="text-center mt-1"> <i><b>Return Products {{count}} </b></i></p>
        {{!--
        <hr style="height:2px;border-width:0;"> --}}
    </h1>
    <div class="mask d-flex align-items-center mb-3 h-80">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="table-responsive bg-white">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                  
                                    <th scope="col">Odder Date</th>
                                    <th scope="col">Castamer Name</th>
                                    <th scope="col">Return Reson</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each odders}}
                                <tr>
                                    
                                    <th scope="row" style="color: #666666;">{{this.date}}</th>
                                    <td>{{this.deliveryDetails.name}}</td>
                                    <td style="color: red;">{{this.reson}}</td>
                                    <td> {{this.paymentmethod}} </td>
                                    <td>{{this.status}}</td>
                                    <td>
                                        {{#if ./approvel}}
                                        
                                        {{else}}
                                        <a type="button" href="/admin/returnApprovel/{{this._id}}"
                                            class="btn btn-primary">Approvel</a>
                                            {{/if}}
                                            </td>



                                    <!-- Modal -->

                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>







    </div>

</div>