<div class="col-lg-12  me-1  rounded" style="background-color:#d7adf0 ;">
    <h1>
        <center><i><b>Salse Report {{count}} </b></i></center>
        <div class="down_btn_wrap  mb-3">
            <div class="btn-group">
                <a class="btn btn-primary dropdown-toggle mb-2" data-bs-toggle="dropdown" aria-expanded="false">
                    Download
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/admin/exportExcel">Excel</a></li>
                    <li><button class="dropdown-item" onclick="myfun('pt')">Pdf</button></li>

                </ul>
            </div>

        </div>
    </h1>
    <div class="mask d-flex align-items-center mb-3 h-80">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="table-responsive bg-white">
                        <div class="table-wrap" id="pt">
                            <table class="table mb-0" id="usertable">

                                <thead>
                                    <tr>

                                        <th scope="col">Odder Date</th>
                                        <th scope="col">Odder Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Payment Method</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Total</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each odders}}
                                    <tr>

                                        <th scope="row" style="color: #666666;">{{this.date}}</th>
                                        <td>{{this._id}}</td>
                                        <td>{{this.deliveryDetails.name}}</td>
                                        <td> {{this.paymentmethod}} </td>
                                        <td>{{this.status}}</td>
                                        <td>{{this.total}}</td>



                                        <!-- Modal -->

                                    </tr>
                                    {{/each}}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>







    </div>

</div>
<script>
    console.log("script working")
    function myfun(pt) {
        var bk = document.body.innerHTML;
        var dv = document.getElementById('pt').innerHTML;
        document.body.innerHTML = dv;
        document.body.style.padding = "20px"
        window.print();
        location.reload();
    }
    $(document).ready(function () {
        $('#usertable').DataTable()
    });
</script>