<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Billing Address</h5>
          </div>


          <div class="card-body">
            <!-- Single item -->
            <form method="post" action="" id="checkOut" enctype="multipart/form-data">
              {{#if address}} <div class="row">
                <div class="col"></div>
                <div class="col-sm-4"><a href="/user/userProfile" class="btn btn-primary mt-5 btn-lg btn-block">
                    Change Address
                  </a></div>
              </div>
              <div class="row">
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <div class="row align-items-center pt-4 pb-3">



                    <div class="col">

                      <input type="text" placeholder="First Name" value="{{address.fastname}}" name="fastname"
                        class="form-control border-primary form-control-lg" />

                    </div>
                  </div>
                </div>

                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <div class="row align-items-center pt-4 pb-3">



                    <div class="col">

                      <input type="text" placeholder="Last Name" value="{{address.lastname}}" name="lastname"
                        class="form-control border-primary form-control-lg" />

                    </div>
                  </div>
                </div>


              </div>
              <div class="row">
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <div class="row align-items-center pt-4 pb-3">


                    <div class="col">

                      <input type="text" placeholder="Email Id" value="{{address.emailid}}" name="emailid"
                        class="form-control border-primary form-control-lg" />

                    </div>
                  </div>
                </div>

                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <div class="row align-items-center pt-4 pb-3">



                    <div class="col">

                      <input type="text" placeholder="Mobile Number" value="{{address.mobile}}" name="mobile"
                        class="form-control border-primary form-control-lg" />

                    </div>
                  </div>
                </div>


              </div>
              <div class="row">
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <div class="row align-items-center pt-4 pb-3">


                    <div class="col">

                      <input type="text" placeholder="Pincode" value="{{address.pincode}}" name="pincode"
                        class="form-control border-primary form-control-lg" />

                    </div>
                  </div>
                </div>

                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <div class="row align-items-center pt-4 pb-3">



                    <div class="col">

                      <input type="text" value="{{address.house}}" placeholder="Flate,House.no,Building,company"
                        name="house" class="form-control border-primary form-control-lg" />

                    </div>
                  </div>
                </div>


              </div>
              <div class="row">
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <div class="row align-items-center pt-4 pb-3">


                    <div class="col">

                      <input type="text" value="{{address.area}}" placeholder="Area,Street,Village" name="area"
                        class="form-control border-primary form-control-lg" />

                    </div>
                  </div>
                </div>

                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <div class="row align-items-center pt-4 pb-3">



                    <div class="col">

                      <input type="text" value="{{address.landmark}}" placeholder="Landmark (Optional)" name="landmark"
                        class="form-control border-warning form-control-lg" />

                    </div>
                  </div>
                </div>


              </div>
              <div class="row">
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <div class="row align-items-center pt-4 pb-3">


                    <div class="col">

                      <input type="text" value="{{address.city}}" placeholder="Town/City" name="city"
                        class="form-control border-primary form-control-lg" />

                    </div>
                  </div>
                </div>

                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <div class="row align-items-center pt-4 pb-3">



                    <div class="col">

                      <input type="text" value="{{address.state}}" placeholder="State" name="state"
                        class="form-control border-primary form-control-lg" />

                    </div>
                  </div>
                </div>


              </div>
              {{else}}
              <a href="/user/userProfile" class="btn btn-primary btn-lg btn-block">
                Add Address
              </a>
              {{/if}}

              <!-- Single item -->

              <hr class="my-4" />

              <!-- Single item -->

              <!-- Single item -->
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <p><strong>Expected shipping delivery</strong></p>
            <p class="mb-0">5 Days</p>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <p><strong>We accept</strong></p>
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
              alt="Visa" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
              alt="American Express" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
              alt="Mastercard" />

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Products
                <span> ₹<span id="total"> {{total}}</span></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Shipping
                <span>Gratis</span>
              </li>
              <li>
                <div class="row mt-5">
                  <div class="col mt-5">Apply Coupon</div>
                  <div class="col mt-5">
                    <input type="text" placeholder="Coupon Code" name="code" id="code"
                      class="form-control border-info form-control-sm" />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label style="display:none ;" id="notfound">Not found</label>
                  </div>
                  <div class="col"><button type="button" class="btn-primary btn-sm mt-3" onclick="checkOut()">Apply
                      Now</button></div>
                </div>
                <hr>

              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Total amount</strong>
                  <strong>
                    <p class="mb-0">(including GST)</p>
                  </strong>
                </div>
                <span><strong>₹ <span id="total2"> {{total}}</span></strong></span>
              </li>
              <div class="card-header py-3">
                <h5 class="mb-0">Payment Method</h5>
              </div>
              <input type="text" name="userId" id="" value="{{user._id}}" hidden>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Cash on delivery</strong>

                </div>
                <span> <input type="radio" name="paymentmethod" value="COD" required></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Resopay</strong>

                </div>
                <span> <input type="radio" name="paymentmethod" value="Resopay"></span>
              </li>

            </ul>

            <button type="submit" class="btn btn-primary btn-lg btn-block">
              Go to checkout
            </button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $("#checkOut").submit((e) => {
    e.preventDefault()
    let total = parseInt(document.querySelector("#total2").innerHTML)
    console.log(total)
    $.ajax({
      url: '/user/checkout/' + total,
      method: 'post',
      data: $('#checkOut').serialize(),

      success: (response) => {


        if (response.codSuccess) {
          location.href = '/user/odderplaced/' + response.ordId
        } else {

          razorpayPayment(response)

        }
      }

    })

  })
  function razorpayPayment(order) {
    var options = {
      "key": "rzp_test_V6c4v4ekLUGUMI", // Enter the Key ID generated from the Dashboard
      "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "ELL Kart",
      "description": "Test Transaction",
      "image": "https://example.com/your_logo",
      "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      "handler": function (response) {


        verifyPayment(response, order)

      },
      "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
      },
      "notes": {
        "address": "Razorpay Corporate Office"
      },
      "theme": {
        "color": "#3399cc"
      }

    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
  }

  function verifyPayment(payment, order) {

    $.ajax({
      url: "/user/verifyPayment",
      data: {
        payment,
        order
      },
      method: 'post',
      success: (response) => {
        if (response.status) {
          location.href = '/user/odderplaced/' + response.ordId
        } else {
          alert("payment failed ", response.err)
          location.href = '/user/userHome'
        }
      }
    })
  }

  function checkOut() {
    let total = document.querySelector("#total2");
    console.log(total)

    let code = document.getElementById("code").value
    $.ajax({
      url: "/user/couponCheck",
      data: {
        code
      },
      method: 'post',
      success: (response) => {
        if (response.value) {

          let discount = parseInt(total.innerHTML) - response.value
          total.innerHTML = discount
        } else {
          alert("response")
          document.getElementById('notfound').style.display = "initial";
        }

      }
    })
  }


</script>