<section class="h-100 gradient-custom">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8 my-5">
            <div id="main-content" class="bg-white border">

                <div class="d-flex my-4 flex-wrap">
                    <div class="box me-4 my-1 bg-light">
                        <img src="https://www.freepnglogos.com/uploads/box-png/cardboard-box-brown-vector-graphic-pixabay-2.png"
                            alt="">
                        <div class="d-flex align-items-center mt-2">
                            <div class="tag">Orders placed</div>
                            <div class="ms-auto number">{{countodder}}</div>
                        </div>
                    </div>
                    <div class="box me-4 my-1 bg-light">
                        <img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-campus-recreation-university-nebraska-lincoln-30.png"
                            alt="">
                        <div class="d-flex align-items-center mt-2">
                            <div class="tag">Items in Cart</div>
                            <div class="ms-auto number">{{cartcount}}</div>
                        </div>
                    </div>

                </div>
                <div class="text-uppercase">My recent orders</div>
                <div class="order my-3 bg-light">
                    {{#each odderdetails}}
                    <div class="row mt-4">
                        <div class="col-lg-4">
                            <div class="d-flex flex-column justify-content-between order-summary">
                                <div class="text-uppercase">Name : {{this.deliveryDetails.name}}</div>
                                <div class="d-flex align-items-center">
                                    {{!-- <div class="text-uppercase">Order:<br> {{this._id}}</div> --}}
                                    <div class="blue-label ms-auto text-uppercase ms-3">{{this.paymentmethod}}</div>
                                </div>
                                <div class="fs-8">Delivivery address :</div>
                                <div class="fs-8">{{this.deliveryDetails.address}} phone:
                                    {{this.deliveryDetails.mobile}}</div>
                                <div class="fs-8">{{this.date}}</div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="d-sm-flex align-items-sm-start justify-content-sm-between">
                                <div class="status">Status : {{this.status}}</div>
                                <div class="status">Order:{{this._id}}</div>
                                <a href="/user/userodderviewpage/{{this._id}} "
                                    class="btn btn-primary text-uppercase">order info</a>
                            </div>


                        </div>
                    </div>
                    <hr>
                    {{/each}}
                </div>

            </div>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
</section>