</header>
<div class="single_product">
    <div class="container-fluid" style=" background-color: #fff; padding: 11px; rounded-3">
        <div class="row">
            <div class="col-lg-2 order-lg-1 order-2">
                <ul class="image_list">
                    <li><img src="/product-photo1/{{product._id}}.jpg" width="100px" height="auto" alt="Cant load">
                    </li>
                    <li><img src="/product-photo2/{{product._id}}.jpg"  width="150px" height="auto" alt="Cant load">
                    </li>
                    <li><img src="/product-photo3/{{product._id}}.jpg"  width="100px" height="auto" alt="Cant load">
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 order-lg-2 order-1">
                <div class="image_selected">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active"><span class='zoom' id='ex1'>
                                    <img src="/product-photo1/{{product._id}}.jpg" width="100px" height="auto" class="d-block w-100" alt="...">
                                </span> </div>
                            <div class="carousel-item"><span class='zoom' id='ex2'>
                                    <img src="/product-photo2/{{product._id}}.jpg" class="d-block w-100" alt="...">
                                </span></div>
                            <div class="carousel-item"><span class='zoom' id='ex3'>
                                    <img src="/product-photo3/{{product._id}}.jpg" class="d-block w-100" alt="...">
                                </span> </div>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>










                </div>

            </div>
            <div class="col-lg-6 order-3">
                <div class="product_description">

                    <div class="product_name mt-3 ">{{product.productName}}</div>
                    <span>{{product.brand}}</span>

                    <div> <span class="product_price">₹ {{product.retailerPrice}}</span> <strike
                            class="product_discount">
                            <span style='color:black'>₹ {{product.mrp}}<span> </strike> </div>
                    <div class="col-xs-6"> <a type="button" href="/user/userAddToCart/{{product._id}}"  class="btn btn-warning ">Add To Cart</a>
                       
                        <div class="product_fav"><i class="fas fa-heart"></i></div>
                    </div>

                    <hr class="singleline">
                    <div class="col-md-6 ms-3"> &nbsp;&nbsp;<span class=" deal-text">Specifications</span> </div>
                    <hr class="singleline">

                    <div class="row row-underline">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    In Box :
                                </div>


                                <div class="col-sm">
                                    {{product.inbox}}
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row row-underline">
                        <div class="row">
                            <div class="col-sm">
                                Model Number :
                            </div>


                            <div class="col-sm">
                                {{product.modelnumber}}
                            </div>

                        </div>

                    </div>
                    <div class="row row-underline">
                        <div class="row">
                            <div class="col-sm">
                                Stock :
                            </div>


                            <div class="col-sm">
                                {{product.stock}}
                            </div>

                        </div>

                    </div>
                    <div class="row row-underline">
                        <div class="row">
                            <div class="col-sm">
                                Type :
                            </div>


                            <div class="col-sm">
                                {{product.Type}}
                            </div>

                        </div>

                    </div>
                    <div class="row row-underline">
                        <div class="row">
                            <div class="col-sm">
                                Made In :
                            </div>


                            <div class="col-sm">
                                {{product.madein}}
                            </div>

                        </div>

                    </div>
                    <div class="row row-underline">
                        <div class="row">
                            <div class="col-sm">
                                Colour :
                            </div>


                            <div class="col-sm">
                                {{product.colour}}
                            </div>

                        </div>

                    </div>
                    <div class="row row-underline">
                        <div class="row">
                            <div class="col-sm">
                                width :
                            </div>


                            <div class="col-sm">
                                {{product.width}}
                            </div>

                        </div>

                    </div>
                    <div class="row row-underline">
                        <div class="row">
                            <div class="col-sm">
                                Hight :
                            </div>


                            <div class="col-sm">
                                {{product.hight}}
                            </div>

                        </div>

                    </div>
                    <div class="row row-underline">
                        <div class="row">
                            <div class="col-sm">
                                Wight :
                            </div>


                            <div class="col-sm">
                                {{product.wight}}
                            </div>

                        </div>

                    </div>
                    <div class="row row-underline">
                        <div class="row">
                            <div class="col-sm">
                                Warranty :
                            </div>


                            <div class="col-sm">
                                {{product.warranty}}
                            </div>

                        </div>

                    </div>
                    <div class="row row-underline">
                        <div class="row">
                            <div class="col-sm">
                                Categorie :
                            </div>


                            <div class="col-sm">
                                {{product.Categorie}}
                            </div>

                        </div>

                    </div>
                    <div class="row row-underline">
                        <div class="row">
                            <div class="col-sm">
                                Highlights :
                            </div>
                            <div class="col-sm">
                                {{product.highlights}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>