<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Cart - {{cartcount}} items</h5>
          </div>
          <div class="card-body">
            <!-- Single item -->
            {{#each product}}
            
            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <!-- Image -->
                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                  <img src="/product-photo1/{{this.product._id}}.jpg"
                    width="100px" height="150px" alt="{{this.product.productName}}"/>
                  <a href="#">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                  </a>
                </div>
                <!-- Image -->
              </div>

              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                <!-- Data -->
                <p><strong>{{this.product.productName}}</strong></p>
                <p>Brand: {{this.product.brand}}</p>
                <p>Color: {{this.product.colour}}</p>
                <button type="button" onclick="removeIteam('{{this._id}}','{{this.product._id }}')" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                  title="Remove item">
                  <i class="fas fa-trash"></i>
                </button>
                <a type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                  title="Move to the wish list">
                  <i class="fas fa-heart"></i>
                </a>
                <!-- Data -->
              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Quantity -->
                <div class="d-flex mb-4" style="max-width: 300px">
                 
                  <button class="btn-sm btn-primary px-3 me-2" onclick="changeQuantity('{{this._id}}','{{this.product._id }}','{{../user._id}}',-1)">-</button>
                  <span id="{{this.product._id}}">{{this.quantity}}</span>
                  <button class="btn-sm btn-primary px-3 ms-2" onclick="changeQuantity('{{this._id}}','{{this.product._id }}','{{../user._id}}',1)">+</button>
                 
                </div>
                <!-- Quantity -->

                <!-- Price -->
                <p class="text-start text-md-center">
                  <strong>₹ {{this.product.retailerPrice}}  </strong>
                </p>
                <!-- Price -->
               
              </div>
            </div>
            
            <!-- Single item -->

            <hr class="my-4" />
           
{{/each}}
            <!-- Single item -->
           
            <!-- Single item -->
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <p><strong>Expected shipping delivery</strong></p>
            <p class="mb-0">5 Days</p>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <p><strong>We accept</strong></p>
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
              alt="Visa" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
              alt="American Express" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
              alt="Mastercard" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp"
              alt="PayPal acceptance mark" />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Products
                <span> ₹<span id="total"> {{total}}</span></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Shipping
                <span>Gratis</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Total amount</strong>
                  <strong>
                    <p class="mb-0">(including VAT)</p>
                  </strong>
                </div>
                <span><strong>₹ <span id="total2"> {{total}}</span></strong></span>
              </li>
            </ul>

            <button type="button" class="btn btn-primary btn-lg btn-block">
              Go to checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
function changeQuantity(cartId,proId,userId,count){

let quantity=parseInt(document.getElementById(proId).innerHTML)

$.ajax({
url:'/user/userChangeQunty',
data:{
  user:userId,
  cart:cartId,
  product:proId,
  count:count,
  quantity:quantity
},
method:'post',
success:(response)=>{
    if(response.removeProduct){
      alert("product Removed from cart")
      location.reload()
    }else{
      document.getElementById(proId).innerHTML=quantity+count
     document.getElementById('total').innerHTML=response.total
      document.getElementById('total2').innerHTML=response.total
    }
  
}

 

})

}
  function removeIteam (cartId,proId){
 $.ajax({
url:'/user/removeCart',
data:{
  cart:cartId,
  product:proId
},
method:'post',
success:(response)=>{
   if(response.removeProduct){
   location.reload()
   }
}
 })
}

</script>
