<section class="h-100 gradient-custom">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8 my-5">
            <div id="main-content" class="bg-white border">
                <div class="text-uppercase">Odder details</div>
                {{#each odder}}
                <div class="d-flex my-4 flex-wrap">
                    <div class="box me-4 my-1 bg-light">
                        <img src="https://img.icons8.com/clouds/100/000000/ok.png" alt="">
                        <div class="d-flex align-items-center ">
                            <div class="tag">Orders Status</div>
                            <div class="ms-auto text-uppercase ">{{this.status}}</div>
                        </div>
                    </div>
                    <div class="box me-4 my-1 bg-light">
                        <img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-rupees-ecommerce-kiranshastry-lineal-color-kiranshastry.png"
                            alt="">
                        <div class="d-flex align-items-center mt-2">
                            <div class="tag">Total amount</div>
                            <div class="ms-auto  "> ₹ {{this.total}}</div>
                        </div>
                    </div>
                    <div class="box me-4 my-1 bg-light">
                        <img src="https://img.icons8.com/external-flat-berkahicon/64/000000/external-Cod-delivery-flat-berkahicon.png"
                            alt="">
                        <div class="d-flex align-items-center mt-2">
                            <div class="tag">Payment Method</div>
                            <div class="ms-auto text-uppercase">{{this.paymentmethod}}</div>
                        </div>
                    </div>
                    <div class="box me-4 my-1 bg-light">
                        {{!-- <img
                            src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-date-hotel-kiranshastry-lineal-color-kiranshastry.png"
                            alt=""> --}}
                        <div class="d-flex align-items-center mt-2">

                            <div class="tag ">Date: {{this.date}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">

                    </div>
                    {{#if ../adddetails.delivered}}
                    <div class="col d-flex flex-row-reverse">

                        <a href="/user/return/{{this._id}}" class="btn btn-info  text-uppercase">return
                        </a>
                    </div>
                    {{/if}}

                    {{#if ../adddetails.cancel}}

                    {{else}}

                    <div class="col d-flex flex-row-reverse">

                        <a href="/user/cancelOdder/{{this._id}}" class="btn btn-danger  text-uppercase">cancel
                        </a>
                    </div>


                    {{/if}}

                </div>


                <div class="order my-3 bg-light">
                    <div class="row">
                        <div class="col">
                            <div class="box me-4 my-1 bg-light">
                                <img src="https://www.freepnglogos.com/uploads/lokasi-logo-png/hawker-united-church-christ-address-phone-number-33.png"
                                    alt="">
                                <div class="d-flex align-items-center mt-2">
                                    {{!-- <div class="tag">Address</div> --}}
                                    <div class="ms-auto text-uppercase">{{this.deliveryDetails.address}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            {{#if ../adddetails.placed}}
                            <div class="progressbar-track mt-5">
                                <ul class="progressbar">
                                    <li id="step-1" class="text-muted green">
                                        <span class="fas fa-gift green"></span>
                                    </li>
                                    <li id="step-2" class="text-muted ">
                                        <span class="fas fa-check"></span>
                                    </li>
                                    <li id="step-3" class="text-muted ">
                                        <span class="fas fa-box"></span>
                                    </li>
                                    <li id="step-4" class="text-muted ">
                                        <span class="fas fa-truck"></span>
                                    </li>
                                    <li id="step-5" class="text-muted ">
                                        <span class="fas fa-box-open"></span>
                                    </li>
                                </ul>
                                <div id="tracker"></div>
                            </div>
                            {{else}}
                            {{#if ../adddetails.accepted }}
                            <div class="progressbar-track mt-5">
                                <ul class="progressbar">
                                    <li id="step-1" class="text-muted green">
                                        <span class="fas fa-gift green"></span>
                                    </li>
                                    <li id="step-2" class="text-muted green ">
                                        <span class="fas fa-check  green"></span>
                                    </li>
                                    <li id="step-3" class="text-muted ">
                                        <span class="fas fa-box"></span>
                                    </li>
                                    <li id="step-4" class="text-muted ">
                                        <span class="fas fa-truck"></span>
                                    </li>
                                    <li id="step-5" class="text-muted ">
                                        <span class="fas fa-box-open"></span>
                                    </li>
                                </ul>
                                <div id="tracker"></div>
                            </div>
                            {{else}}
                            {{#if ../adddetails.packed }}
                            <div class="progressbar-track mt-5">
                                <ul class="progressbar">
                                    <li id="step-1" class="text-muted green">
                                        <span class="fas fa-gift green"></span>
                                    </li>
                                    <li id="step-2" class="text-muted green ">
                                        <span class="fas fa-check green "></span>
                                    </li>
                                    <li id="step-3" class="text-muted green ">
                                        <span class="fas fa-box green"></span>
                                    </li>
                                    <li id="step-4" class="text-muted ">
                                        <span class="fas fa-truck"></span>
                                    </li>
                                    <li id="step-5" class="text-muted ">
                                        <span class="fas fa-box-open"></span>
                                    </li>
                                </ul>
                                <div id="tracker"></div>
                            </div>
                            {{else}}
                            {{#if ../adddetails.shipped }}
                            <div class="progressbar-track mt-5">
                                <ul class="progressbar">
                                    <li id="step-1" class="text-muted green">
                                        <span class="fas fa-gift green"></span>
                                    </li>
                                    <li id="step-2" class="text-muted green ">
                                        <span class="fas fa-check green"></span>
                                    </li>
                                    <li id="step-3" class="text-muted green ">
                                        <span class="fas fa-box green"></span>
                                    </li>
                                    <li id="step-4" class="text-muted green">
                                        <span class="fas fa-truck green"></span>
                                    </li>
                                    <li id="step-5" class="text-muted ">
                                        <span class="fas fa-box-open"></span>
                                    </li>
                                </ul>
                                <div id="tracker"></div>
                            </div>
                            {{else}}
                            {{#if ../adddetails.delivered }}
                            <div class="progressbar-track mt-5">
                                <ul class="progressbar">
                                    <li id="step-1" class="text-muted green">
                                        <span class="fas fa-gift green"></span>
                                    </li>
                                    <li id="step-2" class="text-muted green ">
                                        <span class="fas fa-check green"></span>
                                    </li>
                                    <li id="step-3" class="text-muted green ">
                                        <span class="fas fa-box green"></span>
                                    </li>
                                    <li id="step-4" class="text-muted green">
                                        <span class="fas fa-truck green"></span>
                                    </li>
                                    <li id="step-5" class="text-muted green">
                                        <span class="fas fa-box-open green"></span>
                                    </li>
                                </ul>
                                <div id="tracker"></div>
                            </div>
                            {{else}}
                            <div class="progressbar-track mt-5">
                                <ul class="progressbar">
                                    <li id="step-cal" class="text-muted red">
                                        <span class="fas fa-ban red"></span>

                                    </li>
                                    <li id="step-2" class="text-muted ">
                                        <span class="fas fa-check"></span>
                                    </li>
                                    <li id="step-3" class="text-muted ">
                                        <span class="fas fa-box"></span>
                                    </li>
                                    <li id="step-4" class="text-muted ">
                                        <span class="fas fa-truck"></span>
                                    </li>
                                    <li id="step-5" class="text-muted ">
                                        <span class="fas fa-box-open"></span>
                                    </li>
                                </ul>
                                <div id="tracker"></div>
                                <br>
                                Canceled Reson:- {{this.remark}}
                            </div>
                            {{/if}}
                            {{/if}}
                            {{/if}}
                            {{/if}}
                            {{/if}}
                        </div>

                        {{/each}}
                    </div>

                    <div class="row">

                        <div class="card-body mt-5">
                            {{#each odderproduct}}
                            <div class="row">
                                <div class="col-md-2 mt-5">
                                    <img src="/product-photo1/{{this.product._id}}.jpg" class="img-fluid" alt="Phone">
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0">{{this.product.productName}}</p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0 small">{{this.product.colour}}</p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0 small">{{this.product.brand}}</p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0 small">{{this.quantity}}</p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0 small">{{this.product.retailerPrice}}</p>
                                </div>
                            </div>

                            <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">

                            {{/each}}

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
</section>